<app-shell>

  <button mat-stroked-button color="primary">hello material</button>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, molestiae ullam sapiente voluptatem omnis esse tempore iste animi harum ducimus architecto natus officiis est minima recusandae dolores tempora excepturi? Tempore, necessitatibus repudiandae nemo vero qui assumenda earum ut velit aut cumque, pariatur molestiae voluptatem officiis ipsa?Excepturi quas dolorum omnis. Similique deserunt ipsum velit laudantium libero, in incidunt deleniti, eaque illum perspiciatis dolorum at recusandae et sequi adipisci soluta nesciunt, expedita repellendus maiores illo omnis. Suscipit saepe asperiores eum voluptates sed fuga quod beatae exercitationem nam, esse labore sequi. Ex, sapiente aliquid in tenetur sit cumque nihil aut consequuntur laborum.</p>
  <router-outlet></router-outlet>

</app-shell>
